#news {
    margin: 0;
    padding: 0;
    list-style: none;
}

.news-item {
    position: relative;
    margin: 0px;
    padding: 10px;
    height: 200px;
    border: 1px solid black;
    color: black;
    background-color:white;
}

.news-item-title {
    text-align: center;
    font-weight: bold;
}

.news-item-description{
    padding-left: 10px;
}

.news-item-description img{
    width: 150px;
    height: 150px;
    padding-right: 20px;
    float: left;
}

.news-item-links {
    position: absolute;bottom:0;
    display: inline-block;
    width: 50%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.news-item-links:link {
    color: red;
}
  
.news-item-links:visited {
    color: green;
}
  
.news-item-links:hover {
    color: hotpink;
}
  
.news-item-links:active {
    color: blue;
}