<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  Wywołanie szablonu z innego szablonu:
  <%- include('select', { name: 'combo1' , options: [ { value : 1, text : 'element 1' }, { value : 2, text : 'element 2'
    }, { value : 3, text : 'element 3' } ] }) %>
</body>

</html>