div
{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 50%;
}

.relative {
    position: relative;
    /*
    left: 20px;
    top: 10px;
    */
}

.absolute {
    /*
    position:absolute;
    top: 0px;
    left: 200px;
    */
}

.static {
    position: static;
}

.fixed {
    /*
    position: fixed;
    */
}