* {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}

body {
    margin:0;
    padding:0;
}

#container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

h1, h2, h3 {
    font-weight:normal;
}

#top-bar {
    background-color: rgb(52,58,64);
    height: 6ex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#top-bar a {
    text-decoration: none;
    color: grey;
}
 
#navigation a {
    
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    padding-right: .5rem;
    padding-left: .5rem;
}

#login a {
    padding-right: .9rem;
}

#logo {
    background-color: rgb(0,112,158);
    height: 12ex;
}

.container-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-vertical h1 {
    font-size: 3.15rem;
    font-weight: lighter;
}

.container-vertical > * {
    width: 60%;
}

.news-item {
    padding: 3%;
    margin: 1%;
    background-color: #f8f9fa;
    box-sizing: border-box;
}

.news-item h2 {
    font-weight: lighter;
    font-size: 2.25rem;
}

.float-right {
    margin-left: auto;
}

.button {
    text-decoration: none;
    padding: 12px 16px;
    text-align: center;
    display: inline-block;
    font-size: 12px; 
    box-shadow: 3px 3px 8px #888888;
    border-radius: 4px;    
    box-sizing: border-box;
    color: #fff;
}

.button-primary {
    color: #fff;
    background-color: #00669e;
    border-color: #00669e;
}

.button-next {
    background-color: #5A6268;
}

.news-item-date {
    float: right;
}

.container-horizontal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bottom-item {
    flex: 1 1 calc(33.33% - 4%); /* width - margin */
    margin: 2%;
    padding: 0%;
    border: none;
    box-sizing: border-box;
}

#footer {
    background-color: #222222;
    color:white;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}