.box {
background-color: blue;
border: 10px solid black;
padding: 50px;
margin: 60px;
color: white;
box-sizing: border-box;
height: fit-content;
width: 400px;
}

.alligned {
    text-align: center;
}

div {
    background-color: green;
}

div.center {
    width: 50%;
    margin: 0 auto; /* top-bottom left-right*/
}