.box1, .box2, .box3 {
    background-color: blue;
    border: 10px solid black;
    padding: 50px;
    margin: 60px;
    color: white;
}

span {
    display: inline;
}

.box1 {
    width: 100px;
    height: 100px;  
}

.box2 {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.box3 {
    width: 140px;
    height: 140px;
}

