<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zad1</title>
</head>
<body>
  Select a file to upload!

  <form action="/uploadfile" method="post" enctype="multipart/form-data">
      <input type="file" name="fileName"/>
      <input type="text" name="someTxt" value="example text"/>
      <input type="submit" value="Click me!">
  </form>

</body>
</html>